* {
    margin: 0;
    box-sizing: border-box;
    font-family: karla;
}

:root {
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
    --light-dark:rgba(0, 0, 0, 0.363);
}
.border-radius-none {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: var(--Light-Gray);
    padding: 0px 20px;
}
.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    /*--bs-card-border-radius: var(--bs-border-radius);
    */--bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.dark-mode-btn {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.288);
}
.sub-cont {
    max-width: 300px;
    height: 85%;
}
.sub-cont>.card .card-body h5 {
    color: var(--Cyan);
    font-size: 15px;
    font-weight: 900;
}
.sub-cont>.card .card-body h6 {
    font-size: 13px;
    color: var(--Bright-Yellow);
}
.sub-cont>.card .card-body p {
    color: var(--Cyan);
    font-size: 13px;
}
.row .col-sm-6:nth-child(1) .card {
    background-color: var(--Cyan);
}
.row .col-sm-6:nth-child(1) .card h5 {
    color: white;
}
.yellow {
    background-color: var(--Bright-Yellow);
    border: none;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.123);
    font-size: 13px;
}
.btn:hover {
    background-color: yellow;
    box-shadow: 0 0 30px 10px yellow;
    color: black;
}
.row .col-sm-6:nth-child(1) .card .card-title {
    font-size: 13px;
}
.row .col-sm-6:nth-child(1) .card .card-text:nth-child(2) {
    color: #ddddddbd;
    font-size: 11px;
}

.row .col-sm-6:nth-child(1) .card .card-text:nth-child(2) span {
    font-size: 22px;
    color: white;
}
.row .col-sm-6:nth-child(1) .card .card-text:nth-child(3) {
    color: #ddd;
    font-size: 11px;
}
.row .col-sm-6:nth-child(2) .card {
    background-color: var(--Cyan);
    opacity: 0.8;
}
.row .col-sm-6:nth-child(2) .card h5 {
    color: white;
}

.row .col-sm-6:nth-child(2) .card .card-title {
    color: white;
    font-size: 12px;
}
.row .col-sm-6:nth-child(2) .card .card-text{
    color: #ddd;
    font-size: 11px;
}


@media(min-width:570px) {
    .sub-cont {
        max-width: 800px;
        height: 50%;
    }
    .row {
        margin: 0;
    }
    .row>* {
        padding: 0px;
    }
    .row .col-sm-6:nth-child(1) .card {
        height: 100%;
    }
}
